<!DOCTYPE html>
<html lang="ru-RU" class="">
<head>
    <title>Заурбек Зангиев — поющий ведущий</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="format-detection" content="telephone=no">

    <link rel="shortcut icon" href="/wp-content/uploads/2015/10/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link rel="dns-prefetch" href="//s.w.org">

    <link rel="stylesheet" id="jquery-ui-css" href="wp-content/themes/nostalgia-landing/style/jquery.ui.min.css?ver=4.7.5" type="text/css" media="all">
    <link rel="stylesheet" id="jquery-qtip-css" href="wp-content/themes/nostalgia-landing/style/jquery.qtip.min.css?ver=4.7.5" type="text/css" media="all">
    <link rel="stylesheet" id="jquery-fancybox-css" href="wp-content/themes/nostalgia-landing/style/fancybox/jquery.fancybox.css?ver=4.7.5" type="text/css" media="all">
    <link rel="stylesheet" id="jquery-fancybox-buttons-css" href="wp-content/themes/nostalgia-landing/style/fancybox/helpers/jquery.fancybox-buttons.css?ver=4.7.5" type="text/css" media="all">
    <link rel="stylesheet" id="jquery-supersized-css" href="wp-content/themes/nostalgia-landing/style/jquery.supersized.css?ver=4.7.5" type="text/css" media="all">
    <link rel="stylesheet" id="style-css" href="wp-content/themes/nostalgia-landing/style.css?ver=4.7.6" type="text/css" media="all">
    <link rel="stylesheet" id="style-dynamic-css" href="wp-content/themes/nostalgia-landing/multisite/1/style/style.css?ver=4.7.6" type="text/css" media="all">

    <link rel="stylesheet" id="style-responsive-css" href="wp-content/themes/nostalgia-landing/style/responsive.css?ver=4.7.5" type="text/css" media="all">

    <link rel="stylesheet" id="google-font-open-sans-condensed-css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed%3A300%2C300italic%2C700&amp;subset=vietnamese%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext%2Clatin%2Cgreek%2Cgreek-ext&amp;ver=4.7.5" type="text/css" media="all">
    <link rel="stylesheet" id="google-font-cuprum-css" href="//fonts.googleapis.com/css?family=Cuprum%3Aregular%2Citalic%2C700%2C700italic&amp;subset=vietnamese%2Clatin-ext%2Ccyrillic%2Ccyrillic-ext%2Clatin&amp;ver=4.7.5" type="text/css" media="all">

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] ||
                function() {
                    (i[r].q = i[r].q || []).push(arguments);
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-101199867-1', 'auto');
        ga('send', 'pageview');

    </script>

    <script type="text/javascript" src="/wp-includes/js/jquery/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1"></script>
</head>
<body class="home blog">
@RenderBody()
</body>
</html>