@{
    ViewBag.Title = "Home Page";
}

<div class="main main-body">

    <ul class="no-list clear-fix page-list">
        <li class="page-schema page-schema-1002 full-width page-header  clear-fix" id="page-header">

            <div class="clear-fix">
                <div class="float-left"><a href="/"><img src="/wp-content/uploads/2015/10/Лого-2015-2.png" alt="" class="logo"></a></div>
                <div class="box float-right">ВЕДУЩИЙ С ЧУВСТВОМ ЮМОРА</div>
                <div class="box float-right">ПРИГЛАСИТЬ Заурбека НА ВАШЕ МЕРОПРИЯТИЕ: +7 XXX XXX XX XX</div>
            </div>

        </li>
        <li class="page-schema page-schema-1248 full-width   clear-fix" id="page-1239-2">

            <div class="clear-fix">
                <div>
                    <h1 class="text-center line-height-1 margin-bottom-0">Интеллигентное ведение</h1>
                </div>
                <div class="subheader clear-fix text-center"><strong>Ведущий Comedy Radio</strong>Ведущий утреннего шоу на телеканале «Звезда»<strong>Опытный ведущий мероприятий</strong></div>
                <p style="text-align: center;"><a href="http://telegra.ph/Mikhail-Belyanin-12-13" class="link-button popup-width-800 popup-height-600"><span class="click-here" style="opacity: 0.981517;"></span>Фото и видео для агентств</a></p>
            </div>

        </li>
        <li class="page-schema page-schema-1248 full-width   clear-fix" id="page-%d0%be%d0%bf%d1%8b%d1%82">

            <div class="clear-fix">
                <h2>Информация</h2>
                <div class="layout-p-50x50 clear-fix ">
                    <div class="column-left paragraph">
                        <ul class="no-list clear-fix feature-list-1 ">
                            <li class="clear-fix">
                                <h3>Достижения</h3>
                                <div class="icon-1 icon-1-briefcase-white"></div>
                                <div>
                                    <p>Чемпион КВН-2007, Радиомания-2015 «Лучшее утреннее шоу», Входит в<span style="color: #ffffff;"> <a style="color: #ffffff;" href="http://top15moscow.ru/" target="_blank">ТОП15 ведущих Москвы</a></span></p>
                                </div>
                            </li>
                            <li class="clear-fix">
                                <h3>Корпоративные мероприятия</h3>
                                <div class="icon-1 icon-1-people-white"></div>
                                <div>
                                    <p>Sberbank CIB, Аэрофлот, Mail.ru, Danone, GE Healthcare, BMW, Hyundai, BNP-Paribas, ATON, Кофемания, Алроса, Glencore, UniCreditBank, Газпромнефть, Saint-Gobain, Шереметьево, М-видео, Huawei и другие</p>
                                </div>
                            </li>
                            <li class="clear-fix">
                                <h3>Event-агентства</h3>
                                <div class="icon-1 icon-1-lightbulb-white"></div>
                                <div>
                                    <p>ABD Entertainment, Арт-Премьер, Подъежики, СШиком, Михайлов и партнеры, Континент экспресс, Support 77, &nbsp;НПФ-групп</p>
                                </div>
                            </li>
                            <li class="clear-fix">
                                <h3>Свадебные агентства</h3>
                                <div class="icon-1 icon-1-heart-white"></div>
                                <div>
                                    <p>Агентство Лилии Горлановой, A2 wedding, Ажур, Funtasy, BMWedding, Агентство Максима Данилова, Mamma Mia!, ArtBox, Mrs. Maxim Wed Bureau, Wedtour (Тайланд), Honeymood,&nbsp;Feerique Event &amp; Emotions</p>
                                </div>
                            </li>
                            <li class="clear-fix">
                                <h3>Ведущий КВН</h3>
                                <div class="icon-1 icon-1-camera-white"></div>
                                <div>
                                    <p>Официальный ведущий Лиги КВН Москвы и Подмосковья, Корпоративный КВН Газпромнефть, М-Видео, Кубок КВН Министра обороны 2013, 2016</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="column-right paragraph">
                        <div>
                            <h3>ОТЛИЧНЫЙ ВЫБОР</h3>
                        </div>
                        <ul class="no-list clear-fix feature-list-2 ">
                            <li class="clear-fix">
                                <div class="icon-1 icon-1-empty-red">1</div>
                                <h5>Блестящая импровизация</h5>
                                <div>
                                    <p>Благодаря природному таланту и опыту ежедневной работы в прямом эфире Михаил является одним из лучших импровизаторов</p>
                                </div>
                            </li>
                            <li class="clear-fix">
                                <div class="icon-1 icon-1-empty-red">2</div>
                                <h5>Огромный опыт</h5>
                                <div>
                                    <p>Ведение мероприятий с 2005 года с количеством гостей от 7(!!!) до 2000 человек, в России и за рубежом</p>
                                </div>
                            </li>
                            <li class="clear-fix">
                                <div class="icon-1 icon-1-empty-red">3</div>
                                <h5>Доброжелательное отношение</h5>
                                <div>
                                    <p>Михаил всегда вежлив и доброжелателен. Гостям любого уровня будет комфортно и интересно.</p>
                                </div>
                            </li>
                            <li class="clear-fix">
                                <div class="icon-1 icon-1-empty-red">4</div>
                                <h5>Речь и внешность</h5>
                                <div>
                                    <p>Многие организаторы знают, что найти ведущего с оптимальным сочетанием этих двух факторов довольно сложно. Михаил обладает приятным голосом и&nbsp;внешним видом</p>
                                </div>
                            </li>
                            <li class="clear-fix">
                                <div class="icon-1 icon-1-empty-red">5</div>
                                <h5>Чувство юмора</h5>
                                <div>
                                    <p>Вы будете смеяться, но вы будете смеяться</p>
                                </div>
                            </li>
                        </ul>
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>

        </li>
        <li class="page-schema page-schema-1248 full-width   clear-fix" id="page-%d0%b2%d0%b8%d0%b4%d0%b5%d0%be">

            <div class="clear-fix">
                <h2>Видеофрагменты</h2>
                <p>Короткая видеопрезентация:</p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://www.youtube.com/embed/KY7Tfg8a09A?rel=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid802624"></iframe></div></p>
                <p>Мероприятие для клиентов компании adb-entertainment (телеверсия):</p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://www.youtube.com/embed/n4IJpp60SYo" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid374011"></iframe></div></p>
                <p>Шоу «Сегодня утром» на телеканале «Звезда»:</p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://www.youtube.com/embed/sIl76-YkdKc" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid673419"></iframe></div></p>
                <p>Утреннее шоу ГутенМоргенФримен на Comedy Radio:</p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 42.6563%;"><iframe src="https://player.vimeo.com/video/158811884?color=d6d2d2&amp;title=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid391242"></iframe></div></p>
                <h3></h3>
                <h3>некоторые из проведенных свадеб:</h3>
                <p>
                    Организация — Свадебное агентство Лилии Горлановой.<br>
                    gorlanova-event.ru
                </p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 42.5%;"><iframe src="https://player.vimeo.com/video/151289366?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid977348"></iframe></div></p>
                <p>
                    Организация — A2Wedding.<br>
                    a2wedstudio.ru<br>
                    <div class="fluid-width-video-wrapper" style="padding-top: 42.5%;"><iframe src="https://player.vimeo.com/video/188316060?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid965212"></iframe></div>
                </p>
                <p>
                    Организация — Свадебное агентство BMWedding.<br>
                    bmwedding.ru
                </p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 42.5%;"><iframe src="https://player.vimeo.com/video/155929538?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid13293"></iframe></div></p>
                <p>
                    Организация — Свадебное агентство Лилии Горлановой.<br>
                    gorlanova-event.ru
                </p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 42.6563%;"><iframe src="https://player.vimeo.com/video/125457850?color=ed1c24&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid788147"></iframe></div></p>
                <p>А на этой свадьбе стреляли, даже невеста:</p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://player.vimeo.com/video/135343633?title=0&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid797854"></iframe></div></p>
                <p>
                    <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://www.youtube.com/embed/a231qnEAFCw?rel=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid170415"></iframe></div><br>
                    <!-- my <div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="//player.vimeo.com/video/118455498?color=ffffff&amp;byline=0&amp;portrait=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid135879"></iframe></div></p> -->
                    <h3>Ведущий квн:</h3>
                <p>КВН — Кубок Министра Обороны РФ финал 2016:</p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 50%;"><iframe src="https://www.youtube.com/embed/jdIMIQJBjhE?rel=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid219405"></iframe></div></p>
                <p>КВН — Лига Москвы и Подмосковья финал 2014:</p>
                <p><div class="fluid-width-video-wrapper" style="padding-top: 56.25%;"><iframe src="https://www.youtube.com/embed/MYkMDUGshkY?rel=0" frameborder="0" allowfullscreen="allowfullscreen" id="fitvid126370"></iframe></div></p>
            </div>

        </li>
        <li class="page-schema page-schema-1248 full-width   clear-fix" id="page-%d0%ba%d0%be%d0%bd%d1%82%d0%b0%d0%ba%d1%82%d1%8b">

            <div class="clear-fix">
                <div class="layout-p-50x50 clear-fix ">
                    <div class="column-left paragraph">
                        <ul class="no-list clear-fix feature-list-1 ">
                            <li class="clear-fix">
                                <h3>Контакты</h3>
                                <div class="icon-1 icon-1-post-white"></div>
                                <div>
                                    <p>+7 (xxx) xxx-xx-xx Заурбек Зангиев</p>
                                    <p><span style="color: #ffffff;"><a style="color: #ffffff;" href="mailto:belyaninm@gmail.com" target="_blank">belyaninm@gmail.com</a></span></p>
                                    <p><span style="color: #ffffff;"><a style="color: #ffffff;" href="http://vk.com/mishabelyanin" target="_blank">vk.com/mishabelyanin</a></span></p>
                                    <p><span style="color: #ffffff;"><a style="color: #ffffff;" href="https://instagram.com/belyanin_com/" target="_blank">instagram.com/belyanin_com</a></span></p>
                                    <p><!-- Facebook Badge START --><a href="https://www.facebook.com/mikhail.belyanin" title="Mikhail Belyanin" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP">Mikhail Belyanin</a><span style="font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;font-size: 11px;line-height: 16px;font-variant: normal;font-style: normal;font-weight: normal;color: #555555;text-decoration: none;">&nbsp;|&nbsp;</span><a href="https://www.facebook.com/badges/" title="Создайте свою собственную визитку!" style="font-family: &quot;lucida grande&quot;,tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" target="_TOP"></a><br><a href="https://www.facebook.com/mikhail.belyanin" title="Mikhail Belyanin" target="_TOP"><img class="img" src="https://badge.facebook.com/badge/100000505999475.625.110872990.png" style="border: 0px;" alt=""></a><!-- Facebook Badge END --></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="column-right paragraph">
                        <div>
                            <h3>Запрос</h3>
                        </div>
                        <form id="contact_form_2B1535FB5BA79FAD8BACDD754F0BC878" method="post" class="clear-fix">
                            <div class="clear-fix">
                                <ul class="no-list form-line">
                                    <li class="clear-fix block">
                                        <div><label for="contact_form_name_2B1535FB5BA79FAD8BACDD754F0BC878">Ваше имя</label></div>
                                        <div><input type="text" name="contact_form_name_2B1535FB5BA79FAD8BACDD754F0BC878" id="contact_form_name_2B1535FB5BA79FAD8BACDD754F0BC878" value=""></div>
                                    </li>
                                    <li class="clear-fix block">
                                        <div><label for="contact_form_mail_2B1535FB5BA79FAD8BACDD754F0BC878">Ваш e-mail</label></div>
                                        <div><input type="text" name="contact_form_mail_2B1535FB5BA79FAD8BACDD754F0BC878" id="contact_form_mail_2B1535FB5BA79FAD8BACDD754F0BC878" value=""></div>
                                    </li>
                                    <li class="clear-fix block">
                                        <div><label for="contact_form_message_2B1535FB5BA79FAD8BACDD754F0BC878">Сообщение</label></div>
                                        <div><textarea name="contact_form_message_2B1535FB5BA79FAD8BACDD754F0BC878" id="contact_form_message_2B1535FB5BA79FAD8BACDD754F0BC878" rows="1" cols="1"></textarea></div>
                                    </li>
                                    <li class="clear-fix form-submit-line block">
                                        <input type="hidden" name="action" value="contact_form">
                                        <div><input type="submit" id="contact_form_submit_2B1535FB5BA79FAD8BACDD754F0BC878" name="contact_form_submit_2B1535FB5BA79FAD8BACDD754F0BC878" class="button" value="Отправить"></div>
                                    </li>
                                </ul>
                            </div>
                        </form>
                        <div class="hidden">
                            <script type="text/javascript">jQuery(document).ready(function ($) { jQuery('#contact_form_2B1535FB5BA79FAD8BACDD754F0BC878 label').inFieldLabels(); var form = new NLThemeContactForm('2B1535FB5BA79FAD8BACDD754F0BC878'); form.init(); });</script>
                        </div>
                    </div>
                </div>
            </div>

        </li>
    </ul>

</div>

<!-- Background overlay -->
<div id="background-overlay" class="background-overlay-2"></div>
<!-- /Background overlay -->

<script type="text/javascript" src="/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4"></script>
<script type="text/javascript" src="/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4"></script>
<script type="text/javascript" src="/wp-includes/js/jquery/ui/accordion.min.js?ver=1.11.4"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.qtip.min.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.infieldlabel.min.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.blockUI.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.easing.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.actual.min.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.fancybox.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.fancybox-media.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.fancybox-buttons.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.isotope.min.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.scrollTo.min.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.carouFredSel.packed.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.touchSwipe.min.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.supersized.min.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.videoBackground.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/jquery.bbq.min.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/linkify.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/contactForm.class.js?ver=4.7.5"></script>
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/newsletterForm.class.js?ver=4.7.5"></script>
<!-- my <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&amp;ver=4.7.5"></script> -->
<script type="text/javascript" src="/wp-content/themes/nostalgia-landing/script/theme.class.js?ver=4.7.5"></script>
<script type="text/javascript">
            /* <![CDATA[ */
            var themeOption = [];
            themeOption = {
                "backgroundSlider": {
                    "file": [{ "image": "wp-content/uploads/2016/08/DSC04912.jpg" },
                    { "image": "wp-content/uploads/2016/12/IMG_2393-e1480971285701.jpg" },
                    { "image": "wp-content/uploads/2016/12/IMG_1427.jpg" }],
                    "mobile_tablet_enable": "1",
                    "autoplay": "1",
                    "slide_interval": "5000",
                    "start_slide": "1",
                    "stop_loop": "0",
                    "random": "0",
                    "slideshow": "1",
                    "transition": "fade",
                    "transition_speed": "750",
                    "fit_always": "0", "fit_landscape": "0", "fit_portrait": "1", "horizontal_center": "1", "vertical_center": "1", "keyboard_nav": "1", "performance": "1"
                },
                "rightClick": { "enable": "1" },
                "textSelect": { "enable": "1" },
                "navigationBar": {
                    "enable": "1", "position": "right-center", "background_color": "000000", "background_color_opacity": "40",
                    "background_color_hover": "FFC000", "background_color_hover_opacity": "100", "background_color_selected": "FFC000", "background_color_selected_opacity": "100",
                    "background_color_visible": "000000", "background_color_visible_opacity": "100", "animation_easing": "easeInQuad", "animation_speed": "600", "item_animation_enable": "1",
                    "full_width_hide": "1", "item_title_enable": "0"
                },
                "fancyboxImage": {
                    "padding": "10", "margin": "20", "cyclic": "1", "autoscale": "1",
                    "center_on_scroll": "0", "hide_on_overlay_click": "1", "hide_on_content_click": "0", "close_button_show": "1", "navigation_arrow_show": "1", "escape_button": "1",
                    "title_show": "1", "overlay_show": "1", "overlay_opacity": "30", "overlay_color": "666666", "transition_type_open": "0", "easing_type_open": "0",
                    "transition_speed_open": "300", "transition_type_close": "0", "easing_type_close": "0", "transition_speed_close": "300", "min_width": "100",
                    "min_height": "100", "max_width": "9999", "max_height": "9999", "helper_button_enable": "1", "autoresize": "1", "autocenter": "1", "fittoview": "1", "arrow": "1", "close_button": "1",
                    "close_click": "0", "next_click": "0", "mouse_wheel": "1", "autoplay": "0", "loop": "1", "playspeed": "3000", "animation_effect_open": "fade", "animation_effect_close": "fade",
                    "animation_effect_next": "elastic", "animation_effect_previous": "elastic", "easing_open": "easeInQuad", "easing_close": "easeInQuad", "easing_next": "easeInQuad",
                    "easing_previous": "easeInQuad", "speed_open": "250", "speed_close": "250", "speed_next": "250", "speed_previous": "250"
                },
                "fancyboxVideo": {
                    "padding": "10", "margin": "20", "width": "90", "height": "90", "center_on_scroll": "0", "hide_on_overlay_click": "1",
                    "close_button_show": "1", "escape_button": "1", "title_show": "1", "overlay_show": "1", "overlay_opacity": "30", "overlay_color": "666666",
                    "transition_type_open": "0", "easing_type_open": "0", "transition_speed_open": "300", "transition_type_close": "0", "easing_type_close": "0",
                    "transition_speed_close": "300", "min_width": "100", "min_height": "100", "max_width": "9999", "max_height": "9999",
                    "autoresize": "1", "autocenter": "1", "fittoview": "1", "close_button": "1"
                },
                "galleryCarousel": {
                    "autoplay": "1", "circular": "1", "infinite": "1", "direction": "left", "item_visible": "4", "item_minimum": "1", "item_start": "1",
                    "scroll_item": "1", "scroll_effect": "scroll", "scroll_easing": "easeInQuad", "scroll_duration": "750"
                },
                "googleMapCompanyInfo": { "enable": "1", "enable_start": "1" },
                "config": { "theme_url": "http:\/\/belyanin.com\/wp-content\/themes\/nostalgia-landing\/", "ajax_url": "http:\/\/belyanin.com\/wp-admin\/admin-ajax.php" }
            };

            themeText = { "fancybox": { "next": "Next", "close": "Close", "toggle": "Toggle size", "previous": "Previous", "start_slideshow": "Start slideshow", "error": "The requested content cannot be loaded.&lt;br\/&gt;Please try again later." } };;
/* ]]> */

</script>

<script type="text/javascript" src="wp-content/themes/nostalgia-landing/script/public.js?ver=4.7.5"></script>
<script type="text/javascript" src="wp-includes/js/wp-embed.min.js?ver=4.7.5"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.js?ver=1.1.0"></script>


<script type="text/javascript">
            jQuery(document).ready(function ($) { jQuery(".page-schema").fitVids() });
</script>